#head{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(73, 66, 214) 0%, rgb(74, 74, 223) 35%, rgba(0,212,255,1) 100%);
    margin-top: -80px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    color: white;
}

.btn-hover:hover{
    transition: all 0.5s;
    transform: scale(1.2);
}
